.map {
    position: absolute;
    right: 0px;
    left: 0px;
    top: 60px;
    height: 100%;
}

.header {
  background-color: black;
  color: #fff;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 100px;
}

.model {
  position: fixed;
  padding: 5px;
}

.btn {
  position: relative;
}
