.map {
  position: absolute;
  right: 0px;
  left: 0px;
  top: auto;
  height: 100%;
  z-index: 0;
}

nav div {
 display: inline-block;
 position: absolute;
 padding-right: 30px;
 left: 70px;
}

nav {
  height: 75px;
  z-index: 10;
  position: static;
}

.sidebar {
  opacity: 0.75;
  position: absolute;
  left: 30px;
  width: 350px;
  top: 200px;
  bottom: 100px;
  padding: 20px;
  font-size: 16px;
  background-color: white;
  z-index: 10000;
}

.about {
  opacity: 0.75;
  background-color: white;
  top: 150px;
  height: 600px;
  width: 600px;
  z-index: 8500;
  margin: 0 auto;
  position: relative;
  padding: 20px;
  z-index: 1200000;
}

#fontIcon {
  font-size: 50px
}
