.map {
    position: absolute;
    right: 0px;
    left: 0px;
    top: 100px;
    height: 100%;
}

.header {
  background-color: white;
  color: #fff;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 10000000;
  height: 100px;
}

.model {
  position: fixed;
  padding: 10px
}
